
Source: capi-appfw-app-manager
Section: libs
Priority: extra
Maintainer: Woongsuk Cho <ws77.cho@samsung.com>, junghyuk park <junghyuk.park@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libaul-1-dev, capi-base-common-dev, libail-0-dev, libvconf-dev

Package: capi-appfw-app-manager
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: The Application Manager API provides functions to get information about running applications.

Package: capi-appfw-app-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-appfw-app-manager (= ${Source-Version}), dlog-dev, libaul-1-dev, capi-base-common-dev, libail-0-dev, libvconf-dev
Description: The Application Manager API provides functions to get information about running applications. (DEV)

Package: capi-appfw-app-manager-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-appfw-app-manager (= ${Source-Version})
Description: The Application Manager API provides functions to get information about running applications. (DBG)

